<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
</head>
<body style="background-color:pink;">
<div align="center">
<h2>REGISTRATION</h2>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br>
   <input type="text" name="first_name" placeholder="Enter Your first name"><br>
    <input type="text" name="last_name" placeholder="Enter Your last name"><br>
    <input type="email" name="email" placeholder="Enter Your email address"><br>
    <input type="password" name="password1" placeholder="Enter Your password"><br>
    <input type="password" name="password" placeholder="confirm your password"><br>
    <input type="submit">
</form>
</style>
</div>
{% for msgs in messages %}
<h2>{{msgs}}</h2>
{% endfor %}
</body>
</html>